<!DOCTYPE html>
<!--
This is the main layout file. Pages can use this layout by setting the following in their root element:
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{Layout :: layout(~{::title}, ~{::main})}">

This requires the page to have a <title> and a <main> element.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout(mainContent)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- The title of the page will be replaced by the content of the <title> tag in the child template -->
<!--    <title th:replace="${pageTitle}">E-Commerce Application</title>-->

    <!--
      This block is defined as a fragment so that other pages,
      which do not use the full layout, can still include the CSS.
      e.g., <th:block th:replace="~{Layout :: link-css}"></th:block>
    -->
    <th:block th:fragment="link-css">
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
              integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
    </th:block>

</head>
<body class="bg-gray-50 text-gray-800 flex flex-col min-h-screen font-sans">

<!-- Header fragment is inserted here -->
<header th:replace="~{fragments/header :: header}"></header>

<!-- Main content from the calling page is inserted here. -->
<div th:insert="${mainContent}"></div>
<!-- Footer fragment is inserted here -->
<footer th:replace="~{fragments/footer :: footer}"></footer>

<!-- Global Scripts -->
<script th:src="@{/js/toggle.js}"></script>

</body>
</html>
